html, body {
    margin: 0;
    padding: 0;
    background-color: #FFD700;
    height: 100%;
    user-select: none;
}
img{
    width: 240px;
    height: 200px;
    margin: 0px auto;
}
.container{
    max-width: 320px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}
button{
    background-color:   #656e72 ;
    color: black ;
    font-size: 22px;
    border: none;
    border-radius: 15px;
    padding: 12px;
    font-weight: 900;
    font-family: 'BatmanForeverAlternate';
    text-align: center;
}
input{
    margin: 5px 0px 10px;
    background-color:#191919;
    color: #fee202 ;
    font-size: 22px;
    border: none;
    border-radius: 15px;
    padding: 12px;
    font-weight: bold;
    font-family: 'BatmanForeverAlternate';
    text-align: center;
}
input::placeholder {
    color: #FFD700; /* Gold color for the placeholder text */
    opacity: 0.2;
}

@font-face {
    font-family: 'BatmanForeverAlternate';
    font-style: normal;
    font-weight: normal;
    src: local('BatmanForeverAlternate'), url('BATMAN.ttf') format('woff');
    }
button:active {
    background-color:#FFD700; /* Darker green */
    transform: scale(1); /* Slightly smaller */
    box-shadow: -2px 2px #666; /* Shadow effect */
    transform: translateY(-2px); /* Move button down */
}   
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    color: #FFD700;
    font-size: 23px;
    background-color:#191919;
    padding: 15px;
    border-radius: 12px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 2px 3px 3px #656e72;
    font-family:'BatmanForeverAlternate';
}
#item-list{
    font-size: 22px;
    font-weight: 900;
}